src/main/mule/mulecicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="26745432-2b04-4552-b856-7e854ac21a80" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="mulecicdFlow" doc:id="2d070525-5bce-47ef-a1b7-36ed1b83401a" >
		<http:listener doc:name="Listener" doc:id="5909c544-2d42-448d-aef6-acea73834475" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="#[{
	&quot;Loud&quot;: 'Hello'
}]" doc:name="Set Payload" doc:id="7ac40ec7-7f40-4c61-84aa-211e38fdd86f" />
		<ee:transform doc:name="Transform Message" doc:id="84e4667f-a768-429c-b46c-b67d069e1e17" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
